.navbar {
  position: absolute;
  background: transparent;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(rgb(0, 0, 0), green, blue, alpha);
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(241, 163, 163, 0.795);
}
body {
  background-color: rgba(231, 171, 171, 0.582);
}
.nav-item {
  text-align: right;
  font-weight: bolder;
}
.navbar-light {
  color: rgb(143, 143, 143);
}
#maps {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
}

#map2,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.carousel-item {
  position: relative;
  height: 40rem;
  background: rgba(221, 190, 190, 0.705);
  color: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

#charts {
  position: relative;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 500px;
  font-size: smaller;
  text-align: center;
}

.row {
  position: relative;
  padding-top: 30%;
}

.col-8 {
  color: rgb(255, 255, 255);
}

.top-buffer {
  margin-top: 20px;
}

.pic {
  height: 300px;
  width: auto;
  margin: auto;
  align-items: center;
  margin-top: 10px;
  opacity: 100%;
}

.bio {
  font-size: small;
  margin-left: 200px;
  text-align: center;
  display: inline;
}

.cwill {
  align-items: center;
  margin: auto;
  margin-left: 150px;
  margin-top: 10px;
  height: 300px;
  width: 300px;
}

h6 {
  color: white;
  margin: 2px;
  margin-left: 250px;
}
