<!DOCTYPE html>
<html>
<head>
  <title>Stroke Prediction model</title>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"
  ></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<body style="background-color: pink">
  

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Stroke Prediction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/predictor">Predict</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graphs">Charts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datainfo">Dataset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collaborators">Collaborators</a>
        </li>
      </ul>
    </div>
  </nav>

  <br>
  <br>
  <p style="margin-left:25%; width:50%;outline:auto;text-align:center;background-color: lightgrey;font-size: 300%;"><b>Stroke Prediction Input</b></p>
  <br>
  <form method="POST" action="/retrieve" style="margin-left:25%; width:50%;outline:auto;text-align: center;background-color: white;font-size: 120%;">
      <br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        <label for="age">Age:</label>
          <input id="age" type="float" class="count" name="age" value="20" min="0">
        </div>
        <br>
        <label for="hypertension">Do You Have Hypertension?:</label>
        <select id="hypertension" name="hypertension">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <br>
        <label for="heartdisease">Do You Have Heart Disease?:</label>
        <select id="heartdisease" name="heartdisease">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <br>
        <label for="married">Have You Ever Been Married?:</label>
        <select id="married" name="married">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <br>
        <label for="worktype">Work Type:</label>
        <select id="worktype" name="worktype">
            <option value="Self-employed">Self-Employed</option>
            <option value="Govt_job">Government Job</option>
            <option value="Private">Private</option>
        </select>
        <br>
        <label for="residencetype">Residence Type:</label>
        <select id="residencetype" name="residencetype">
            <option value="Urban">Urban</option>
            <option value="Rural">Rural</option>
        </select>
        <br>
        <label for="bmi">BMI (If you need to calculate your BMI, scroll down):</label>
        <input id="bmi" type="float" class="count" name="bmi" value="30" min="0">
        <br>
        <label for="smokingstatus">Smoking Status:</label>
        <select id="smokingstatus" name="smokingstatus">
            <option value="never">Never Smoked</option>
            <option value="formerly">Formerly Smoked</option>
            <option value="smokes">Smokes</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
        <br>
        <br>
      </form>
    <br><br></p>
<br><br>

<p style="margin-left:35%; width:30%;outline:auto;text-align:center;background-color: lightgrey">BMI For Adults Widget</p>
      <br>
      <iframe scrolling="no" height="395" frameborder="30" src="https://www.cdc.gov/healthyweight/assessing/adult-widget/iframe.html" title="Adult BMI (Body Mass Index) Calculator" style="margin-left:25%; width:50%;outline:auto;padding-left:20.5%;background-color: white;"  ></iframe>
      <br>
      <br>


    </body>
</html>