<!DOCTYPE html>
<meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js" charset="utf-8"></script>
    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<form>
    <br>
    <p>Welcome to our Stroke Predictor!</p>
    <br>
    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
        <option text="male" selected="selected">male</option>
        <option text="female">female</option>
    </select>
    <br>
    <label for="age">Age:</label>
    <input type="numeric" id="age" name="age">
    <br>
    <label for="hypertension">Do You Have Hypertension?:</label>
    <select id="hypertension" name="hypertension">
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    <br>
    <label for="heartdisease">Do You Have Heart Disease?:</label>
    <select id="heartdisease" name="heartdisease">
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    <br>
    <label for="married">Have You Ever Been Married?:</label>
    <select id="married" name="married">
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    <br>
    <label for="worktype">Work Type:</label>
    <select id="worktype" name="worktype">
        <option value="government">Government Job</option>
        <option value="private">Private</option>
        <option value="selfemployed">Self-Employed</option>
    </select>
    <br>
    <label for="residencetype">Residence Type:</label>
    <select id="residencetype" name="residencetype">
        <option value="urban">Urban</option>
        <option value="rural">Rural</option>
    </select>
    <br>
    <label for="glucose">Average Glucose Level:</label>
    <input type="numeric" id="glucose" name="glucose">
    <br>
    <label for="bmi">BMI:</label>
    <input type="numeric" id="bmi" name="bmi">
    <br>
    <label for="smokingstatus">Smoking Status:</label>
    <select id="smokingstatus" name="smokingstatus">
        <option value="never">Never Smoked</option>
        <option value="formerly">Formerly Smoked</option>
        <option value="formerly">Smokes</option>
    </select>
    <br>
    <br>
    <button id="submit" class="button button1">Submit</button>
  </form>
